{% extends '/main/index.html'%}
{% block content %}
<style type="text/css">
    body {
        padding-top: 80px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    }

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin input[type="text"],
    .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
    }

</style>


<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form method="post">
                <div class="reg-header">
                    <h2>Registration</h2>
                    <p>Please note.</p>
                    <p>password is securely encrypted. However, please do not use the same password as other sites.</p>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        {{ form.csrf_token }}
                        {% include "main/auth/form_errors.html" %}
                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="email" class="form-control" name="email" id="email" readonly
                                   value="{{ form.email.data or '' }}">
                        </div>
                        <div class="form-group">
                            <label for="nickname">nickname</label>
                            <input type="text" class="form-control" name="nickname" id="nickname"
                                   value="{{ form.nickname.data or '' }}">
                        </div>
                        <div class="form-group">
                            <label for="password1">password</label>
                            <input type="password" class="form-control" name="password1" id="password1"
                                   value="{{ form.password1.data or '' }}">
                        </div>
                        <div class="form-group">
                            <label for="password2">confirm password</label>
                            <input type="password" class="form-control" name="password2" id="password2"
                                   value="{{ form.password2.data or '' }}">
                        </div>

                        <div class="form-group">
                            <label for="student_name">student name</label>
                            <input type="text" class="form-control" name="student_name" id="student_name"
                                   value="{{ form.student_name.data or '' }}">
                        </div>

                        <div class="form-group">
                            <label for="student_number">student number</label>
                            <input type="text" class="form-control" name="student_number" id="student_number"
                                   value="{{ form.student_number.data or '' }}">
                        </div>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-large btn-primary" type="submit">registration</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}