.idea/.gitignore
.idea/deployment.xml
.idea/inspectionProfiles/
.idea/leaderborad_server.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
example.db
leaps.db
config/production.py
.idea/dataSources/
app/resources/task/
migrations/
venv/
.idea/
sqlite3_example/