<p>
  <B>Gachon University Department of Software, Leaderboard Homepage.</B>
</p>
<p>Welcome! Thanks for signing up. Please follow this link to activate your account:</p>

<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>

<p>

<b>please note!</b>

  <li>Your e-mail address will be your ID.</li>
  <li>registration is additionally performed from the link above.</li>
  <li>Passwords are securely encrypted. However, please don't make it duplicate with other website.</li>
</p>
<br>
<p>Cheers!</p>

<p>   from Gachon University, CVIP Lab.<br>
For questions, please send an e-mail to.: <a href="leap1568@gmail.com" target="_top">leap1568@gmail.com</a>
</p>