{% extends '/main/index.html'%}
{% block content %}

<div class="container">
    <h1>Submit process</h1>

{% for field, errors in form.errors.items() %}
<div class="alert alert-danger" role="alert">
    <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
</div>
{% endfor %}

<form id="upload-form" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="form-group">
        <label for="teamname">&nbsp;Team Name</label>
        <input type="text" class="col-xs-6 margin-bottom-20 form-control" name="teamname" id="teamname"
               value="{{ form.teamname.data or '' }}">
    </div>

    <div class="form-group">
        <label for="method">&nbsp;Method Name (e.g., DnCNN)</label>
        <input type="text" class="col-xs-6 margin-bottom-20 form-control" name="method" id="method"
               value="{{ form.method.data or '' }}">
    </div>
    <p> </p>

    <div class="form-group">
        <label for="code">&nbsp;code link (github)</label>
        <input type="text" class="col-xs-6 margin-bottom-20 form-control" name="code" id="code"
               value="{{ form.code.data or '' }}">
    </div>
    <p> </p>

    <strong>Task:</strong><br>
    {{form.task(class_="form-control")}}

    <p> </p>
    <strong>Files:</strong><br>
    Select file OR drag them into the box below.
    <input id="file-picker"  type="file" name="file" accept=".zip"><p>

    <div id="dropbox">
        Drag and Drop Files Here (*.zip)
    </div>

    <fieldset id="progress" style="display: none">
        <legend>Files Progress</legend>
        <div>
            <label>Status</label>
            <p class="alert alert-info" role="alert" id="progress-status">
                <strong>Submit start</strong>
            </p>
        </div>
        <p> </p>
        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p> </p>

    <input type="submit" value="Submit" id="upload-button">
</form>

<input type="button" value="Test" id="test_button"/> hello world
<input type="button" value="Test" id="test2"/> 2
</div>

<script>
    var SELECTED_FILE  = "";
    function movePos(id){
        var offset = $(id).offset();
        $('html').animate({scrollTop: offset.top}, 400);
    }
    function collectFormData() {
        // Go through all the form fields and collect their names/values.
        var fd = new FormData();

        $("#upload-form :input").each(function () {
            var $this = $(this);
            var name = $this.attr("name");
            var type = $this.attr("type") || "";
            var value = $this.val();

            // No name = no care.
            if (name === undefined) {
                return;
            }
            // Skip the file upload box for now.
            if (type === "file") {
                return;
            }
            // Checkboxes? Only add their value if they're checked.
            if (type === "checkbox" || type === "radio") {
                if (!$this.is(":checked")) {
                    return;
                }
            }

            fd.append(name, value);
        });

        return fd;
    }

    function handleFile(f, filename) {
        var zip_container = new JSZip();
        zip_container.loadAsync(f)
            .then(function () {
                console.log(zip_container.file(filename))
                zip_container.file(filename).async('array').then(function (content) {
                    console.log(filename, content)
                    $.ajax({
                            type: "POST",
                            url: "/test/zip_test",
                            data: JSON.stringify({
                                'filename': filename,
                                'bytes': content
                            }),
                            contentType: "application/json",
                            success: function (data) {
                                // Finish 처리
                                console.log(data)
                            },
                            error: function (xtr, status, error) {
                                console.error(xtr, status, error)
                            }
                        }
                    )
                })
            }, function (e) {
                $result.append($("<div>", {
                    "class": "alert alert-danger",
                    text: "Error reading " + f.name + ": " + e.message
                }));
            });
    }

    $(document).ready(function () {
        $("#file-picker").on("change", function () {
            SELECTED_FILE = this.files[0];
        });
        $("#test2").on("click", function (e){
            e.preventDefault()
            console.log(SELECTED_FILE.name)
            handleFile(SELECTED_FILE,'my_suit.jpg')
        })

        // Set up submit
        $("#test_button").on("click", function (e) {
            e.preventDefault()
            $("#progress").show()
            var $progressBar = $("#progress-bar");

            $("#upload-form :input").attr("disabled","disabled")
            $progressBar.css({"width": "0%"});

            learningTest()
        })
    });

    function learningTest() {
        function finish_ajax(datas) {
            console.log('finish')
            $.ajax({
                    type: "POST",
                    url: "/test/task_finish",
                    data: JSON.stringify(datas),
                    contentType: "application/json",

                    success: function (data) {
                        // Finish 처리
                        console.log(data)
                    },
                    error: function (xtr, status, error) {
                        console.error(xtr, status, error)
                    }

                }
            )
        }
        // task
        function recursively_ajax(datas) {
            $.ajax({
                type: "POST",
                url: "/test/task_test",
                cache: "false",
                data: JSON.stringify (datas),
              contentType: "application/json",
                success: function (datas) {
                    datas['count'] += 1

                    var $progressBar = $("#progress-bar");
                    var total = datas['total']
                    var pos = parseInt(datas['count'])
                    var percent = Math.min(Math.ceil(pos/total*100),100)

                    $progressBar.css({"width":percent + "%"})
                    $progressBar.text(percent+"%")

                    if (datas['count'] === datas['total']) {
                        finish_ajax(datas)
                    } else {
                        recursively_ajax(datas);
                    }
                },
                error: function(xtr,status,error){
                    console.error(xtr, status, error)
                }
            });
        }
        // Collect the form data.
        fd = collectFormData();

        // task initialization
        $.ajax({
                type: "POST",
                url: "/test/task_init",
                data: fd,
                contentType: false,
                processData: false,
                cache: false,
                success: function (data) {
                    console.log(data)
                    recursively_ajax(data)
                },
                error: function(xtr,status,error){
                    console.log(xtr.responseJSON.status)
                    $('#progress-status').text(xtr.responseJSON.status)
                    movePos('#progress-status')
                }
            }
        )
    }
</script>
{% endblock %}